/* Styles for Genesis AWP Community Plugin */

.featured-community {
	text-align: center;
}
.awp-community-archive .archive-title,
.featured-community .widget-title {
	text-align: center;
	font-size: 24px;
	font-size: 2.4rem;
	margin-bottom: 40px;
	
}
.featured-community .awp-community {
	display: inline-block;
	float: none;
	margin: 0 15px 30px;
	padding: 0;
	vertical-align: top;
	width: 250px;
	border: 1px solid #e5e5e5;
	overflow: hidden;
}
.awp-community.entry {
	border: 1px solid #e5e5e5;
	margin: 0 15px 30px;
}

.featured-community .awp-community.entry img,
.archive .awp-community.entry img {

	width:250px;

	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;

}

.featured-community .awp-community.entry img,
.archive .awp-community.entry img {

	width:250px;

	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition:    all 0.1s ease-in-out;
	-ms-transition:     all 0.1s ease-in-out;
	-o-transition:      all 0.1s ease-in-out;
	transition:         all 0.1s ease-in-out;


}

.featured-community .awp-community.entry img:hover,
.archive .awp-community.entry img:hover {

	opacity: .7;
}

.awp-community-image {
	width: 250px;
	height: auto;

}

.featured-community h2.entry-title {
	margin-bottom: 0; 
}
.featured-community .entry-title {
	padding: 20px;
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
	font-size: 2.0rem;


}
.featured-community .entry-title a {
	text-decoration: none;
}


/*
.awp-community.full-width-content .content {
	width: 100%;
}
*/